<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
   <% for (const game of games) { %>
  <p><%= game.title %></p>
<% } %>
  </body>
</html>
